body {
   direction: rtl;
}

/**
 * Top Header
*/
.bz_top_header .top_header_left ul {
    text-align: right;
}

.bz_top_header .top_header_right ul {
    text-align: left;
}

/**
 * Main Menu
*/

.main-navigation ul li ul{
	right: 0;
	left: auto;
}

.main-navigation ul li ul li ul {
    right: 100%;
}

.main-navigation ul li {
    text-align: right;
}

.main-navigation div > ul > li.menu-item-has-children:before{
    left: 0;
    right:auto;
}

.main-navigation ul ul li.menu-item-has-children:before{
	left: 9px;
	right: auto;
	content: '\f104';
}

.main-navigation ul > li.menu-item-has-children > a {
    padding-right: 15px;
    padding-left: 15px;
}

span.sub-toggle, span.sub-toggle-children {
    left: 0;
    right:auto;
}


/**
 * Main Slider
*/

.bz_slider .owl-carousel .owl-nav button.owl-prev {
    right: 120px;
    left: auto;
}

.bz_slider .owl-carousel .owl-nav button.owl-next {
    left: 120px;
    right: auto;
}

.bz_slider .owl-carousel:hover .owl-nav button.owl-next {
    left: 20px;
    right: auto;
}

.bz_slider .owl-carousel:hover .owl-nav button.owl-prev {
    right: 20px;
    left: auto;
}

.blog-style .post-meta li:after {
    padding-right: 5px;
    padding-left: 0;
}

.blog-style.blog-style-two .list-post-media {
    float: right;
    margin-right: 0;
    margin-left: 30px;
}

.blog-style.blog-style-two .list-post-content {
    float: right;
}

.blog-style.blog-style-two .blog-post-list, .blog-style.blog-style-two .blog-post-list .blog-title, .blog-style.blog-style-two .blog-post-list .post-meta {
    text-align: right;
}

.blog-style.blog-style-two .post_content {
    text-align: right;
}



.custom-recent-post li .info {
    padding: 0px 10px 0 0;
    text-align: right;
}

.widget_product_search .search-field, .widget_search .search-field{
	text-align: left;
}

.site-footer .widget .widget-title, .cross-sells h2, .cart_totals h2, .up-sells.products>h2, .related.products>h2, .woocommerce-billing-fields h3, .woocommerce-shipping-fields h3, .woocommerce-additional-fields h3, #order_review_heading, .woocommerce-order-details h2, .woocommerce-column--billing-address h2, .woocommerce-column--shipping-address h2, .woocommerce-Address-title h3, .woocommerce-MyAccount-content h3, .wishlist-title h2, .woocommerce-account .woocommerce h2, .widget-area .widget .widget-title{
	text-align: right;
}

.site-footer .widget h2.widget-title:before, .cross-sells h2:before, .cart_totals h2:before, .up-sells h2:before, .related h2:before, .woocommerce-billing-fields h3:before, .woocommerce-shipping-fields h3:before, .woocommerce-additional-fields h3:before, #order_review_heading:before, .woocommerce-order-details h2:before, .woocommerce-column--billing-address h2:before, .woocommerce-column--shipping-address h2:before, .woocommerce-Address-title h3:before, .woocommerce-MyAccount-content h3:before, .wishlist-title h2:before, .woocommerce-account .woocommerce h2:before, .widget-area .widget .widget-title:before{
	right:0;
}

.widget_archive ul li a, .widget_categories ul li a, .widget_product_categories ul li a {
    float: right;
}

.widget_archive a, .widget_categories a, .widget_product_categories a, .widget_recent_entries a, .widget_meta a, .widget_recent_comments li, .widget_rss li, .widget_pages li, .widget_nav_menu li{
	padding-left: 0;
	padding-right: 22px;
}
.widget_archive a::before, .widget_categories a::before, .widget_product_categories a::before, .widget_recent_entries a::before, .widget_meta a::before, .widget_recent_comments li::before, .widget_rss li:before, .widget_pages li:before, .widget_nav_menu li:before{
	right: 0;
	left: auto;
}

.lower_right ul {
    text-align: left;
}

.lower_bottom .copyright {
    text-align: right;
}


.pagination .page-numbers:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination .page-numbers:first-child {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}


.single .blog-style article {
    text-align: right;
}

.blog-style article {
    text-align: right;
}

.breadcrumb ul {
    text-align: left;
    float: left;
}

.breadcrumb ul li {
    float: right;
}

.breadcrumb h2 {
    text-align: right;
}

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
    float: right;
    text-align: right;
}

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
    float: left;
    text-align: left;
}

.comments-title, .comment-reply-title {
    text-align: right;
}

#respond {
    text-align: right;
}

.author-info .author-left {
    float: right;
}

.author-info .author-right {
    float: right;
    padding-left: 0;
    text-align: right;
    padding-right: 35px;
}

.blog-style.single-page .social-link {
    text-align: right;
}

.blog-style .author-info .social-link li {
    padding-left: 25px;
    padding-right: 0;
}

.woocommerce div.product .woocommerce-tabs .panel#tab-description p,
.woocommerce div.product .woocommerce-tabs ul.tabs {
    text-align: right;
}

.woocommerce span.onsale {
    padding: 0;
    left: auto;
    right:0;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    text-align: right;
}
