/**
 * Additional Styles
*/
.bb-repeater-field-control {
  background: #FFF;
  margin-bottom: 12px;
  display: block;
}

.bb-repeater-footer {
  margin-top: 15px;
  text-align: right;
}

.bb-repeater-field-control:first-child .bb-repeater-footer {
  display: none;
}

.bb-repeater-field-title {
  padding: 13px 15px;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1em;
  border: 1px solid #e5e5e5;
  cursor: move;
  position: relative;
  border-bottom: 0;
}

#customize-theme-controls .bb-repeater-field-title.accordion-section-title:after {
  content: "\f142";
  font: 400 20px/1 dashicons;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1px 2px 1px 0;
  margin-top: 10px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}

.bb-repeater-field-control.expanded .bb-repeater-field-title:after {
  content: "\f140";
}

.bb-repeater-fields {
  padding: 0 10px 25px;
  border-top: none;
  line-height: 16px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  display: none;
}

#customize-theme-controls .bb-repeater-field-title.expanded:after {
  content: "\f140";
}

.bb-repeater-fields .customize-control-title {
  margin-top: 10px;
}

.bb-repeater-field-control.expanded .bb-repeater-fields {
  display: block;
}

.bb-add-control-field {
  float: right;
}

.bb-add-control-field:before {
  content: "\f132";
  display: inline-block;
  position: relative;
  left: -2px;
  top: -1px;
  font: 400 18px/1 dashicons;
  vertical-align: middle;
}

.bb-fields textarea {
  width: 100%;
  min-height: 100px;
}

.bb-fields select {
  width: 100%;
  min-width: none;
}

.bb-type-checkbox {
  margin-top: 10px;
}

.bb-type-checkbox label {
  line-height: 20px;
  display: block;
  margin-left: 24px;
  padding-top: 6px;
}

.bb-type-checkbox input[type=checkbox] {
  margin-right: 8px;
  margin-left: -24px;
}

.bb-type-selector .selector-labels {
  margin: 0 -5px;
}

.bb-type-selector .selector-labels label {
  display: inline-block;
  padding: 10px 5px 0;
  position: relative;
  max-width: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.bb-type-selector .selector-labels label img {
  vertical-align: middle;
}

.bb-type-selector .selector-labels label.selector-selected:after {
  content: "";
  height: 35px;
  width: 35px;
  right: 0;
  top: 0;
  position: absolute;
  background: url(images/selected.png) no-repeat right top;
}

.bb-type-radio .radio-labels label {
  display: block;
  padding: 5px 0;
}


.bb-type-icon {
  overflow: hidden;
}

.bb-selected-icon {
  background: #F6F6F6;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #EEE;
  position: relative;
  margin-right: 45px;
  cursor: pointer;
  font-size: 28px;
}

.bb-selected-icon span {
  position: absolute;
  background: #F6F6F6;
  right: -45px;
  top: -1px;
  height: 45px;
  width: 45px;
  border: 1px solid #EEE;
  font-size: 20px;
}

.bb-icon-list {
  height: 215px;
  overflow-y: scroll;
  font-size: 18px;
  border: 1px solid #EEE;
  border-right: 0;
  border-top: 0;
  padding-bottom: 4%;
  display: none;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.bb-icon-list li {
  float: left;
  margin: 4% 3% 0;
  height: 40px;
  width: 16%;
  text-align: center;
  line-height: 40px;
  border: 1px solid #EEE;
}

.bb-icon-list li:hover {
  background: #333;
  border: 1px solid #333;
  color: #FFF;
}

.bb-icon-list li.icon-active {
  background: #0073aa;
  border: 1px solid #0073aa;
  color: #FFF;
}

/*font-awesome*/
.bb-repeater-selected-icon {
  background: #F6F6F6;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #EEE;
  position: relative;
  margin-right: 45px;
  cursor: pointer;
  font-size: 28px;
}

.bb-repeater-selected-icon span {
  position: absolute;
  background: #F6F6F6;
  right: -45px;
  top: -1px;
  height: 45px;
  width: 45px;
  border: 1px solid #EEE;
  font-size: 20px;
}


.bb-repeater-icon-list {
  height: 215px;
  overflow-y: scroll;
  font-size: 18px;
  border: 1px solid #EEE;
  border-right: 0;
  border-top: 0;
  padding-bottom: 4%;
  display: none;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.bb-repeater-icon-list li {
  float: left;
  margin: 4% 3% 0;
  height: 40px;
  width: 16%;
  text-align: center;
  line-height: 40px;
  border: 1px solid #EEE;
}

.bb-repeater-icon-list li:hover {
  background: #333;
  border: 1px solid #333;
  color: #FFF;
}

.bb-repeater-icon-list li.icon-active {
  background: #0073aa;
  border: 1px solid #0073aa;
  color: #FFF;
}

.customize-control-checkbox-multiple .customize-control-title {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-left: 4px solid #fff;
  -webkit-transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
  transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
  color: #0073aa;
  background: #f3f3f5;
  border-left-color: #0073aa;
}

.customize-control-checkbox-multiple ul {
  padding: 5px;
  border: 2px solid #f3f3f5;
}



/**
 * Customizer Title
*/
.customize-control-title {
  color: #0073aa;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 10px 10px 11px 14px;
  line-height: 21px;
  background: #FFF;
  margin: 0 -12px 0;
  border-left: 4px solid #0073aa;
  margin-bottom: 15px;
}


.customize-pane-parent .control-section .accordion-section-title:before {
  font-family: dashicons;
  content: "\f107";
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

#accordion-panel-blogger_buzz_homepage_blog_posts .accordion-section-title:before {
  content: "\f541";
}

#accordion-section-blogger_buzz_banner_section .accordion-section-title:before {
  content: "\f181";
}

#accordion-section-blogger_buzz_social_links_section .accordion-section-title:before {
  content: "\f237";
}

#accordion-section-colors .accordion-section-title:before {
  content: "\f131";
}

#accordion-panel-blogger_buzz_header_panel .accordion-section-title:before {
  content: "\f175";
}

#accordion-section-blogger_buzz_instgram_posts_section .accordion-section-title:before {
  content: "\f161";
}

#accordion-panel-blogger_buzz_general_settings .accordion-section-title:before {
  content: "\f111";
}

#accordion-section-blogger_buzz_footer .accordion-section-title:before {
  content: "\f175";
}







#accordion-panel-bb_general_settings .accordion-section-title:before {
  content: "\f111";
}

#accordion-section-bb_banner_slider .accordion-section-title:before {
  content: "\f161";
}

#accordion-panel-bb_homepage_settings .accordion-section-title:before {
  content: "\f102";
}

#accordion-panel-nav_menus .accordion-section-title:before {
  content: "\f333";
}

#accordion-panel-widgets .accordion-section-title:before {
  content: "\f116";
}

#accordion-panel-widgets .accordion-section-title:before {
  content: "\f116";
}

#accordion-section-custom_css .accordion-section-title:before {
  content: "\f499";
}

#accordion-section-bloggerbuzzdoc .accordion-section-title:before {
  content: "\f105";
}


/**
 * Switch Control
*/
.onoffswitch {
  position: relative;
  width: 140px;
  margin-right: 15px;
  overflow: hidden;
  cursor: pointer;
}

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin .3s ease-in 0s;
  -webkit-transition: margin .3s ease-in 0s;
  -o-transition: margin .3s ease-in 0s;
  transition: margin .3s ease-in 0s
}

.onoffswitch-inner>div {
  float: left;
  position: relative;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

.onoffswitch-inner .onoffswitch-active {
  background-color: #d4d4d4;
  color: #FFF
}

.onoffswitch-inner .onoffswitch-inactive {
  background-color: #d4d4d4;
  color: #FFF;
  text-align: right;
}

.onoffswitch-switch {
  width: 70px;
  margin: 0;
  text-align: center;
  border: 0 solid #999;
  border-radius: 0;
  position: absolute;
  top: 0;
  bottom: 0
}

.onoffswitch-active .onoffswitch-switch {
  background: #0073aa;
  left: 0;
  border-radius: 4px 0 0 4px;
}

.onoffswitch-inactive .onoffswitch-switch {
  background: #7D7D7D;
  right: 0;
  border-radius: 0 4px 4px 0;
}

.switch-on .onoffswitch-inner {
  margin-left: 0
}